.main-header {
  h1 {
      color: #4D4D4D;
      font-family: "Encode Sans";
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
  }
  p {
      color: #BA0000;
      font-family: "Encode Sans Condensed";
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
  }
}