$color-red: #BA0000;
$color-gray-one: #4D4D4D;

ul {
    margin: 0;
    padding: 0;
}

.info-box {
    width: 250px;
    height: 250px;
    border: 1px solid $color-red;
    margin: 25px;
}

body {
    margin: 39px 140px;
    font-family: "Encode Sans";
}

@import './header';
@import './addHeaderBorder';
@import './addTitle';
@import './signin';
@import './addHeaderNav';
@import './newsletter_content';
@import './newsletter';