ul {
  margin: 0;
  padding: 0;
}

.info-box {
  width: 250px;
  height: 250px;
  border: 1px solid #BA0000;
  margin: 25px;
}

body {
  margin: 39px 140px;
  font-family: "Encode Sans";
}

$color-red: #BA0000;

@import './header';
@import './addHeaderBorder';
@import './addTitle';
@import './signin';
@import './addHeaderNav';
@import './newsletter_content';
@import './newsletter';