form {
  
      width: 629px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  
      div {
          transform: translateX(-64.5px);
          label {
              width: 129px;
              color: #BA0000;
              font-size: 18px;
              font-weight: bold;
              line-height: 23px;
          }
          input {
              height: 40px;
              width: 500px;
              border: 1px solid #E6E6E6;
              border-radius: 5px;
          }
      }
  
      .email {
          margin-top: 77px;
      }
  
      .password {
          margin-top: 41px;
      }
  
      button {
          margin-top: 87px;
          height: 40px;
          width: 216.67px;
          border-radius: 20px;
          background-color: #BA0000;
  
          color: #FFFFFF;
          font-size: 22px;
          font-weight: bold;
          line-height: 28px;
          text-align: center;
  
      }
  }